<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Error" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Error code: 500" }) %>

    <main>
        <section>
            <h2>Server error</h2>
            <p>죄송합니다. 서버에 오류가 발생했습니다.</p>
            <p>빠른 시일 내에 복구하겠습니다.</p>
        </section>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
