html {
  --color-black-700: #2d2926;

  --color-pink-500: #ed6f63;
  --color-pink-600: #ce5c52;

  --size-padding-large: 1.25rem;

  --size-font-large: 1.25rem;

  --size-button-width: 10rem;

  --size-bar-width: 0.5rem;
  --size-bar-height: 10rem;

  font-family: "Nanum Gothic", sans-serif;
}

body {
  margin: 0;
}

header {
  color: var(--color-pink-500);
  background-color: var(--color-black-700);
  padding: var(--size-padding-large);
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
  text-align: center;
  width: var(--size-button-width);
}

header li a {
  font-size: var(--size-font-large);
  font-weight: 800;
  text-decoration: none;
  color: var(--color-pink-500);
}

header li a:hover,
header li a:active {
  color: var(--color-pink-600);
}

header li h1 {
  margin: 0;
}

main {
  background-color: var(--color-pink-500);
  color: var(--color-black-700);
}
