<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Error" }) %>

  <body>
    <%- include("../includes/header", { headerTitle: "Error code: 400" }) %>

    <main>
      <ul>
        <li>
          <h2>동작을 확인해 주십시오.</h2>
        </li>
        <li>
          <p>Client가 의도하지 않은 동작을 하였습니다. 다시 확인해 주십시오.</p>
        </li>
      </ul>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
