<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Error" }) %>

  <body>
    <%- include("../includes/header") %>

    <main>
      <ul>
        <li>
          <h1>Error code: 400</h1>
        </li>
        <li>
          <p>의도하지 않은 동작을 하셨습니다. 웹을 바르게 이용해 주십시오.</p>
        </li>
      </ul>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
