form {
  margin: 18rem 0;
}

label,
input,
button {
  font-size: var(--font-size-small);
}

input {
  color: var(--color-gray-600);
  padding: var(--space-input-small);
}

button {
  background-color: var(--color-tuequoise-800);
  color: var(--color-beige-300);
  border: none;
  padding: 0.5rem 1.25rem;
}
