<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Error" }) %>

  <body>
    <%- include("../includes/header", { headerTitle: "403" }) %>

    <main>
      <ul>
        <li>
          <h2>Error code: 403</h2>
        </li>
        <li>
          <p>권한이 필요합니다.</p>
        </li>
      </ul>
    </main>

    <%- include("../includes/footer", { footerOption: "box" }) %>
  </body>
</html>
