<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Main page" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "방문자 수 체크" }) %>

    <main>
      <h2>방문자 수: <%= visitorCnt %> 명</h2>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
