<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Admin" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Admin page" }) %>

    <main>
      <ul>
        <li>
          <h2>This page is Admin page!</h2>
        </li>
      </ul>
    </main>

    <%- include("includes/footer", { footerOption: "box" }) %>
  </body>
</html>
