<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Error" }) %>

  <body>
    <%- include("../includes/header", { headerTitle: "404" }) %>

    <main>
      <ul>
        <li>
          <h2>요청하신 페이지를 찾을 수 없습니다.</h2>
          <p>주소를 확인해 주십시오.</p>
        </li>
        <li>
          <a class="btn" href="/">메인 바로가기</a>
        </li>
      </ul>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
