<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Error" }) %>

  <body>
    <%- include("../includes/header", { headerTitle: "400" }) %>

    <main>
      <ul>
        <li>
          <h2>Error code: 400</h2>
        </li>
        <li>
          <p>의도하지 않은 동작이 발생했습니다. 다시 확인해 주십시오.</p>
        </li>
      </ul>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
