<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "400" }) %>

  <body>
    <%- include("../includes/header", { headerTitle: "Error code: 400" }) %>

    <main>
      <h2>Error code: 400</h2>
      <p>올바른 방식으로 웹 페이지를 이용해 주십시오.</p>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
