<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "401" }) %>

  <body>
    <%- include("../includes/header", { headerTitle: "Error code: 401" }) %>

    <main></main>

    <%- include("../includes/footer") %>
  </body>
</html>
