<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "500" }) %>

  <body>
    <%- include("../includes/header", { headerTitle: "Error code: 500" }) %>

    <main>
      <h2>Error code: 500</h2>
      <p>죄송합니다. 서버에 문제가 발생했습니다.</p>
      <p>빠른 시일 내에 해결하겠습니다.</p>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
