<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Sign up" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Sign up" }) %>

    <main>
      <section id="input-form">
        <form action="/new-signup" method="POST">
          <ul>
            <li>
              <input type="text" id="new-id" name="newId" placeholder="ID" required />
            </li>
            <li>
              <input
                type="password"
                id="new-passwd"
                name="newPasswd"
                placeholder="Password"
                required
              />
            </li>
            <li>
              <input
                type="password"
                id="passwd-check"
                name="passwdCheck"
                placeholder="Password 확인"
                required
              />
            </li>
            <li>
                <button class="btn" type="submit">Sign up</button>
            </li>
          </ul>
        </form>
      </section>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
