<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Success" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Success" }) %>

    <main>
      <ul>
        <li>
          <h2>로그인에 성공하였습니다.</h2>
        </li>
        <li>
          <a class="btn" href="/logout">로그아웃</a>
        </li>
      </ul>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
