<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Font License" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Font License" }) %>

    <main>
      <ul>
        <li>
          <h2>Nanum Gothic</h2>
          <p>
            This website uses the 'Nanum Gothic'font, designed by Sandoll
            Communication, licensed under the SIL Open Font License, Version
            1.1.
          </p>
        </li>
      </ul>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
