<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Error"}) %>

  <body>
    <%- include("includes/header", { headerTitle: "Error code: 400" }) %>

    <main>
      <ul>
        <li>
          <h2>의도된 방법으로 웹을 이용해 주십시오.</h2>
        </li>
        <li>
          <a href="/">메인페이지 바로가기</a>
        </li>
      </ul>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
