<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "License" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Font license" }) %>

    <main>
      <ul>
        <li>
          <h2>Nanum Gothic</h2>
        </li>
        <li>
          This website uses the 'Nanum Gothic'font, designed by Sandoll
          Communication, licensed under the SIL Open Font License, Version 1.1.
        </li>
        <li>
            <a href="/">메인페이지</a>
        </li>
      </ul>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
