<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Error" }) %>

  <body>
    <%- include("../includes/header", { headerTitle: "500" }) %>

    <main>
      <ul>
        <li>
          <h2>Server Error</h2>
          <p>죄송합니다. 빠른 시일 내에 해결하겠습니다.</p>
        </li>
        <li>
          <a class="btn" href="/">메인 바로가기</a>
        </li>
      </ul>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
