main ul {
  list-style: none;
  padding: 0;
}

#login-input {
  width: var(--size-card-small);
  margin: 0 auto;
  border: 5px solid var(--color-skyblue-200);
  border-radius: var(--border-radius-basic);
}

#login-input li {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-margin-top-bottom-basic);
}

#login-input form {
  margin: var(--size-margin-top-bottom-large);
}

#login-input label {
  text-align: left;
  margin-bottom: var(--size-margin-top-bottom-small);
  font-weight: 700;
}

#login-input input {
  border: 1px solid var(--color-skyblue-200);
  border-radius: var(--border-radius-small);
  padding: var(--size-padding-top-bottom-xsmall);
  font: 400 var(--font-size-basic) "Nanum Gothic", sans-serif;
}

#login-input #agree-check-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#login-input #agree-check-box input {
  margin: 0;
}

#login-input #agree-check-box label {
  margin: 0 var(--size-margin-left-right-small);
}

#menu ul {
  display: flex;
  justify-content: space-between;
  width: var(--size-card-small);
}

#menu a {
  color: var(--color-gray-600);
  text-decoration: none;
}

#menu a:hover,
#menu a:active {
  text-decoration: underline;
  font-weight: 700;
}
