<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Fail" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Fail" }) %>

    <main>
      <ul>
        <li>
          <h2>메일전송에 실패하였습니다</h2>
        </li>
        <li>
          <p>빠른 시일 내에 해결하겠습니다.</p>
        </li>
      </ul>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
