<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Success" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Success" }) %>

    <main>
      <ul>
        <li>
          <h2>메일을 전송하였습니다.</h2>
        </li>
        <li>
          <p>빠른 시일 내에 답변을 진행하겠습니다.</p>
        </li>
      </ul>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
