<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Collection of errors" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Main" }) %>

    <main>
      <section id="description">
        <div id="vertical-bar"></div>
        <ul>
          <li>
            <h2>에러에 대한 실습 웹 사이트 입니다.</h2>
          </li>
          <li>
            <p>
              작동은 실제 웹 사이트와 동일하게 진행되며, 다른 내용을 담고 있지는
              않습니다.
            </p>
          </li>
        </ul>
      </section>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
