<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Collection of errors" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Main" }) %>

    <main>
      <section id="description">
        <div id="vertical-bar"></div>
        <h2>에러에 대해 실습을 진행한 웹 사이트 입니다.</h2>
      </section>
    </main>
  </body>
</html>
