<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head", { pageTitle: "Success" }) %>

  <body>
    <%- include("includes/header", { headerTitle: "Success" }) %>

    <main>
        <h2>정상적으로 제출되었습니다.</h2>
        <a href="/">돌아가기</a>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
